//  1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables. The `font-size` is calculated to exist
//    in rems, the `line-height` is calculated to exist unitlessly.
// 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
//    navigating between pages that do/do not have enough content to produce
//    scrollbars naturally.
// 3. Ensure the page always fills at least the entire height of the viewport.
// 4. Fonts on OSX will look more consistent with other systems that do not
//    render text using sub-pixel anti-aliasing.
html {
  box-sizing: border-box;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $base-font-weight;
  line-height: $base-line-height; // [1]
  color: $base-text-color;
  overflow-y: scroll; // [2]
  -moz-osx-font-smoothing: grayscale; // [4]
  -webkit-font-smoothing: antialiased; // [4]
  -webkit-tap-highlight-color: $white;
  word-break: break-word;
}

html,
body {
  height: 100%; // [3]
  min-height: 100%; // [3]
  background-color: $base-background-color;
}

// Negate the need to add `position: relative` every time
// we want to position something absolutely
// Set the global `box-sizing` state to `border-box`.
// css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
// paulirish.com/2012/box-sizing-border-box-ftw
* {
  &,
  &:after,
  &:before {
    position: relative;
  }
  &,
  &:after {
    box-sizing: inherit;
  }
}

// Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
// Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
// over and over in your markup.
.clearfix,
%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Container that surrounds every page
.container {
  overflow: auto;
  padding: 0 10%;
  position: relative;
}

// iOS "clickable elements" fix for role="button"
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
[role="button"] {
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
}