// Defaults if no settings are provided for:
$grid-max-columns: 12 !default;
$grid-small-breakpoint: 0 !default;
$grid-small-namespace: 'sm' !default;
$grid-medium-breakpoint: 40 !default;
$grid-medium-namespace: 'md' !default;
$grid-large-breakpoint: 63 !default;
$grid-large-namespace: 'lg' !default;
$grid-breakpiont-measurement-unit: 'em' !default;

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;

  & & {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    max-width: none;
  }

  &.expanded {
    max-width: none;
  }

  &.collapse > .col {
    padding-left: 0;
    padding-right: 0;
  }
}

.col {
  flex: 1 1 0;
  min-width: initial;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

// starts with the size of the screen the rules will apply to
// the size of the screen is associated with a media query size this ensures
// that all rules that are created for that size will be created within its
// appropriate media query.
@each $size, $media-query-size in ($grid-small-namespace, $grid-small-breakpoint), ($grid-medium-namespace, $grid-medium-breakpoint), ($grid-large-namespace, $grid-large-breakpoint) {
  @media screen and (min-width: $media-query-size + $grid-breakpiont-measurement-unit) {
    // this will loop over the total number of coloums for each screen size
    // the columns width depends on which column size we're creating.
    @for $columns-number from 1 through $grid-max-columns {
      // INPUT: $colWdith: percentage(6 / 12);
      // OUTPUT: $columns-width: 50%;
      $columns-width: percentage($columns-number / $grid-max-columns);
      // INPUT: .#{s}-#{6} { max-width: 50%; }
      // OUTPUT: .s-6 { max-width: 50%; }
      .#{$size}-#{$columns-number} {
        flex: 0 0 $columns-width;
        max-width: $columns-width;
      }
      // INPUT: .#{s}-offset-#{6} { margin-left: 50%; }
      // OUTPUT: .s-offset-6 { margin-left: 50%; }
      .#{$size}-offset-#{$columns-number} {
        margin-left: $columns-width;
      }
      // INPUT: .#{s}-order-#{6} { order: 50%; }
      // OUTPUT: .s-order-6 { order: 50%; }
      .#{$size}-order-#{$columns-number} {
        order: $columns-number;
      }
    } // end for loop

    .#{$size}-center {
      justify-content: center;
      text-align: center;
    }

    .#{$size}-collapse > .col {
      padding-left: 0;
      padding-right: 0;
    }

    .#{$size}-uncollapse > .col {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
    }

    .#{$size}-expand,
    .row.#{$size}-unstack > .col {
      flex: 1 1 0;
    }

    .#{$size}-offset-0 {
      margin-left: 0;
    }
  } // end media query

  .row.#{$size}-unstack > .col {
    flex: 0 0 100%;
  }
} //end @each loop
