.u {
  &-bottom {
    bottom: 0;
    position: absolute;
  }

  &-center {
    left: 50%;
    transform: translateX(-50%);

    &--absolute {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
    }
  }

  &-text {
  	&--center {
  		text-align: center;
  	}
  }
}