$spacing-zero-namespace: '0' !default;
$spacing-zero-vertical-spacing: 0 !default;
$spacing-zero-horizontal-spacing: 0 !default;
$spacing-xsmall-namespace: '--' !default;
$spacing-xsmall-vertical-spacing: 4px !default;
$spacing-xsmall-horizontal-spacing: 3% !default;
$spacing-small-namespace: '-' !default;
$spacing-small-horizontal-spacing: 8px !default;
$spacing-small-vertical-spacing: 6% !default;
$spacing-medium-vertical-spacing: 16px !default;
$spacing-medium-horizontal-spacing: 9% !default;
$spacing-large-namespace: '\\+' !default;
$spacing-large-vertical-spacing: 32px !default;
$spacing-large-horizontal-spacing: 12% !default;
$spacing-xlarge-namespace: '\\+\\+' !default;
$spacing-xlarge-vertical-spacing: 64px !default;
$spacing-xlarge-horizontal-spacing: 15% !default;
$spacing-2xlarge-namespace: '\\+\\+\\++' !default;
$spacing-2xlarge-vertical-spacing: 128px !default;
$spacing-2xlarge-horizontal-spacing: 18% !default;

@each
  $horizontal-size,
  $vertical-size,
  $namespace in
  (
    $spacing-zero-horizontal-spacing,
    $spacing-zero-vertical-spacing,
    $spacing-zero-namespace
  ),
  (
    $spacing-xsmall-horizontal-spacing,
    $spacing-xsmall-vertical-spacing,
    $spacing-xsmall-namespace
   ),
  (
    $spacing-small-horizontal-spacing,
    $spacing-small-vertical-spacing,
    $spacing-small-namespace
  ),
  (
    $spacing-medium-horizontal-spacing,
    $spacing-medium-vertical-spacing
  ),
  (
    $spacing-large-horizontal-spacing,
    $spacing-large-vertical-spacing,
    $spacing-large-namespace
  ),
  (
    $spacing-xlarge-horizontal-spacing,
    $spacing-xlarge-vertical-spacing,
    $spacing-xlarge-namespace
  ),
  (
    $spacing-2xlarge-horizontal-spacing,
    $spacing-2xlarge-vertical-spacing,
    $spacing-2xlarge-namespace
  )  {
  .u- {
    &m#{$namespace} {
      margin: $vertical-size $horizontal-size;
    }

    &mt#{$namespace} {
      margin-top: $vertical-size;
    }

    &mr#{$namespace} {
      margin-right: $horizontal-size;
    }

    &mb#{$namespace} {
      margin-bottom: $vertical-size;
    }

    &ml#{$namespace} {
      margin-left: $horizontal-size;
    }

    &mh#{$namespace} {
      margin-left: $horizontal-size;
      margin-right: $horizontal-size;
    }

    &mv#{$namespace} {
      margin-bottom: $vertical-size;
      margin-top: $vertical-size;
    }

    &p#{$namespace} {
      padding: $vertical-size $horizontal-size;
    }

    &pt#{$namespace} {
      padding-top: $vertical-size;
    }

    &pr#{$namespace} {
      padding-right: $horizontal-size;
    }

    &pb#{$namespace} {
      padding-bottom: $vertical-size;
    }

    &pl#{$namespace} {
      padding-left: $horizontal-size;
    }

    &ph#{$namespace} {
      padding-left: $horizontal-size;
      padding-right: $horizontal-size;
    }

    &pv#{$namespace} {
      padding-bottom: $vertical-size;
      padding-top: $vertical-size;
    }
  }
}
