// base
$base-font-size: 1rem;
$base-font-family: 'Helvetica';
$base-font-weight: 400;
$base-line-height: 1.75;
$base-text-color: #5e5e5e;
$base-background-color: #fff;

// grid
$grid-max-columns: 12;
$grid-small-breakpoint: 0;
$grid-small-namespace: 'sm';
$grid-medium-breakpoint: 40;
$grid-medium-namespace: 'md';
$grid-large-breakpoint: 63;
$grid-large-namespace: 'lg';
$grid-breakpiont-measurement-unit: 'em';

// breakpoints
$md-breakpoint: 40em;
$lg-breakoint: 63em;

// margin and padding spacing
$spacing-xsmall-namespace: '--';
$spacing-xsmall-vertical-spacing: 4px;
$spacing-xsmall-horizontal-spacing: 3%;
$spacing-small-namespace: '-';
$spacing-small-vertical-spacing: 8px;
$spacing-small-horizontal-spacing: 6%;
$spacing-medium-svertical-pacing: 16px;
$spacing-medium-horizontal-spacing: 9%;
$spacing-large-namespace: '\\+';
$spacing-large-vertical-spacing: 32px;
$spacing-large-horizontal-spacing: 12%;
$spacing-xlarge-namespace: '\\+\\+';
$spacing-xlarge-vertical-spacing: 64px;
$spacing-xlarge-horizontal-spacing: 15%;
$spacing-2xlarge-namespace: '\\+\\+\\+';
$spacing-2xlarge-vertical-spacing: 128px;
$spacing-2xlarge-horizontal-spacing: 30%;

// colors
$white: #fff;
$black: #000;
$chicago: #5e5e5e;
$trout: #4c515a;
$charcoal: #403f40;
$french-rose: #f55079;
$purple-heart: #8c28b4;

// paragraph
$bold: 700;
$light: 100;


$color--primary: $charcoal;
$color--secondary: $chicago;
$color--primary-accent: $french-rose;
$color--secondary-accent: $purple-heart;

$background-color-opaque: rgba(0,0,0,0.75);
$background-color-opaque-white: rgba(255,255,255,0.85);
$background-color--gradient-accent: linear-gradient(to right, rgba(139,38,182,1) 0%, rgba(229,74,130,1) 67%, rgba(245,80,121,1) 79%, rgba(245,80,121,1) 100%);

$heading-color--primary: $black;
$heading-color--secondary: $color--secondary;

$text-color--primary: $color--primary;
$text-color--secondary: $color--secondary;
$text-color-navbar-link: $chicago;

$underline-color--primary: $french-rose;
// spacing
$spacing-unit: 1rem;

// z-index
$z-navbar: 10;

// cube
$cube__about--size: 225px;
$cube__about--size--large: 300px;