@font-face {
    font-family: Anurati;
    src: url("../font/Anurati-Regular.woff") format("woff"), url("../font/Anurati-Regular.ttf")  format("truetype");
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Droid Sans Mono', monospace;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Anurati;
  font-size: 2 * $base-font-size;
}

h2 {
  font-size: 1.5 * $base-font-size;
}

h3 {
  font-size: 1.3 * $base-font-size;
}

.heading {
  &--primary {
    color: $color--primary;
    display: inline-block;
    letter-spacing: 1px;

    &:before {
      content: '';
      height: 2px;
      background: $background-color--gradient-accent;
      width: 100%;
      position: absolute;
      bottom: 6px;
      left: 0;
    }
  }
}


p,
a,
li {
  font-family: 'Open Sans', sans-serif;
  font-size: $base-font-size;
  pointer-events: all;
}

p {
  background-color: rgba(255, 255, 255, 0.5);
}

.link {
  color: $color--primary-accent;

  &:hover {
  color: $color--secondary-accent;
  }
}

.bold {
  font-weight: $bold;
}

.light {
  font-weight: $light;
}

.primary {
  color: $color--primary;
}
