/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
**/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
**/
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
**/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
**/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
**/
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
**/
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
**/
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
**/
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
**/
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
**/
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
**/
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
**/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
**/
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
**/
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
**/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
**/
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
**/
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
**/
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
**/
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
**/
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
**/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
**/
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
**/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
**/
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
**/
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
**/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
**/
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
**/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
**/
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
**/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
**/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
**/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
**/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
**/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
**/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
**/
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
**/
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
**/
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: Anurati;
  src: url("../font/Anurati-Regular.woff") format("woff"), url("../font/Anurati-Regular.ttf") format("truetype"); }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  margin: 0;
  padding: 0; }

h1 {
  font-family: Anurati;
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.3rem; }

.heading--primary {
  color: #403f40;
  display: inline-block;
  letter-spacing: 1px; }
  .heading--primary:before {
    content: '';
    height: 2px;
    background: linear-gradient(to right, #8b26b6 0%, #e54a82 67%, #f55079 79%, #f55079 100%);
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0; }

p,
a,
li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  pointer-events: all; }

p {
  background-color: rgba(255, 255, 255, 0.5); }

.link {
  color: #f55079; }
  .link:hover {
    color: #8c28b4; }

.bold {
  font-weight: 700; }

.light {
  font-weight: 100; }

.primary {
  color: #403f40; }

html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  color: #5e5e5e;
  overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: #fff;
  word-break: break-word; }

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #fff; }

*, *:after, *:before {
  position: relative; }

*, *:after {
  box-sizing: inherit; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.container {
  overflow: auto;
  padding: 0 10%;
  position: relative; }

[role="button"] {
  cursor: pointer; }

img {
  max-width: 100%; }

ul {
  margin: 0; }

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto; }
  .row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    max-width: none; }
  .row.expanded {
    max-width: none; }
  .row.collapse > .col {
    padding-left: 0;
    padding-right: 0; }

.col {
  flex: 1 1 0;
  min-width: initial;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

@media screen and (min-width: 0em) {
  .sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .sm-offset-1 {
    margin-left: 8.33333%; }
  .sm-order-1 {
    order: 1; }
  .sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .sm-offset-2 {
    margin-left: 16.66667%; }
  .sm-order-2 {
    order: 2; }
  .sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .sm-offset-3 {
    margin-left: 25%; }
  .sm-order-3 {
    order: 3; }
  .sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .sm-offset-4 {
    margin-left: 33.33333%; }
  .sm-order-4 {
    order: 4; }
  .sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .sm-offset-5 {
    margin-left: 41.66667%; }
  .sm-order-5 {
    order: 5; }
  .sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .sm-offset-6 {
    margin-left: 50%; }
  .sm-order-6 {
    order: 6; }
  .sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .sm-offset-7 {
    margin-left: 58.33333%; }
  .sm-order-7 {
    order: 7; }
  .sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .sm-offset-8 {
    margin-left: 66.66667%; }
  .sm-order-8 {
    order: 8; }
  .sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .sm-offset-9 {
    margin-left: 75%; }
  .sm-order-9 {
    order: 9; }
  .sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .sm-offset-10 {
    margin-left: 83.33333%; }
  .sm-order-10 {
    order: 10; }
  .sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .sm-offset-11 {
    margin-left: 91.66667%; }
  .sm-order-11 {
    order: 11; }
  .sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .sm-offset-12 {
    margin-left: 100%; }
  .sm-order-12 {
    order: 12; }
  .sm-center {
    justify-content: center;
    text-align: center; }
  .sm-collapse > .col {
    padding-left: 0;
    padding-right: 0; }
  .sm-uncollapse > .col {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .sm-expand,
  .row.sm-unstack > .col {
    flex: 1 1 0; }
  .sm-offset-0 {
    margin-left: 0; } }

.row.sm-unstack > .col {
  flex: 0 0 100%; }

@media screen and (min-width: 40em) {
  .md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .md-offset-1 {
    margin-left: 8.33333%; }
  .md-order-1 {
    order: 1; }
  .md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .md-offset-2 {
    margin-left: 16.66667%; }
  .md-order-2 {
    order: 2; }
  .md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .md-offset-3 {
    margin-left: 25%; }
  .md-order-3 {
    order: 3; }
  .md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .md-offset-4 {
    margin-left: 33.33333%; }
  .md-order-4 {
    order: 4; }
  .md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .md-offset-5 {
    margin-left: 41.66667%; }
  .md-order-5 {
    order: 5; }
  .md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .md-offset-6 {
    margin-left: 50%; }
  .md-order-6 {
    order: 6; }
  .md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .md-offset-7 {
    margin-left: 58.33333%; }
  .md-order-7 {
    order: 7; }
  .md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .md-offset-8 {
    margin-left: 66.66667%; }
  .md-order-8 {
    order: 8; }
  .md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .md-offset-9 {
    margin-left: 75%; }
  .md-order-9 {
    order: 9; }
  .md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .md-offset-10 {
    margin-left: 83.33333%; }
  .md-order-10 {
    order: 10; }
  .md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .md-offset-11 {
    margin-left: 91.66667%; }
  .md-order-11 {
    order: 11; }
  .md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .md-offset-12 {
    margin-left: 100%; }
  .md-order-12 {
    order: 12; }
  .md-center {
    justify-content: center;
    text-align: center; }
  .md-collapse > .col {
    padding-left: 0;
    padding-right: 0; }
  .md-uncollapse > .col {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .md-expand,
  .row.md-unstack > .col {
    flex: 1 1 0; }
  .md-offset-0 {
    margin-left: 0; } }

.row.md-unstack > .col {
  flex: 0 0 100%; }

@media screen and (min-width: 63em) {
  .lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .lg-offset-1 {
    margin-left: 8.33333%; }
  .lg-order-1 {
    order: 1; }
  .lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .lg-offset-2 {
    margin-left: 16.66667%; }
  .lg-order-2 {
    order: 2; }
  .lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .lg-offset-3 {
    margin-left: 25%; }
  .lg-order-3 {
    order: 3; }
  .lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .lg-offset-4 {
    margin-left: 33.33333%; }
  .lg-order-4 {
    order: 4; }
  .lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .lg-offset-5 {
    margin-left: 41.66667%; }
  .lg-order-5 {
    order: 5; }
  .lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .lg-offset-6 {
    margin-left: 50%; }
  .lg-order-6 {
    order: 6; }
  .lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .lg-offset-7 {
    margin-left: 58.33333%; }
  .lg-order-7 {
    order: 7; }
  .lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .lg-offset-8 {
    margin-left: 66.66667%; }
  .lg-order-8 {
    order: 8; }
  .lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .lg-offset-9 {
    margin-left: 75%; }
  .lg-order-9 {
    order: 9; }
  .lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .lg-offset-10 {
    margin-left: 83.33333%; }
  .lg-order-10 {
    order: 10; }
  .lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .lg-offset-11 {
    margin-left: 91.66667%; }
  .lg-order-11 {
    order: 11; }
  .lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .lg-offset-12 {
    margin-left: 100%; }
  .lg-order-12 {
    order: 12; }
  .lg-center {
    justify-content: center;
    text-align: center; }
  .lg-collapse > .col {
    padding-left: 0;
    padding-right: 0; }
  .lg-uncollapse > .col {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .lg-expand,
  .row.lg-unstack > .col {
    flex: 1 1 0; }
  .lg-offset-0 {
    margin-left: 0; } }

.row.lg-unstack > .col {
  flex: 0 0 100%; }

.u-m0 {
  margin: 0 0; }

.u-mt0 {
  margin-top: 0; }

.u-mr0 {
  margin-right: 0; }

.u-mb0 {
  margin-bottom: 0; }

.u-ml0 {
  margin-left: 0; }

.u-mh0 {
  margin-left: 0;
  margin-right: 0; }

.u-mv0 {
  margin-bottom: 0;
  margin-top: 0; }

.u-p0 {
  padding: 0 0; }

.u-pt0 {
  padding-top: 0; }

.u-pr0 {
  padding-right: 0; }

.u-pb0 {
  padding-bottom: 0; }

.u-pl0 {
  padding-left: 0; }

.u-ph0 {
  padding-left: 0;
  padding-right: 0; }

.u-pv0 {
  padding-bottom: 0;
  padding-top: 0; }

.u-m-- {
  margin: 4px 3%; }

.u-mt-- {
  margin-top: 4px; }

.u-mr-- {
  margin-right: 3%; }

.u-mb-- {
  margin-bottom: 4px; }

.u-ml-- {
  margin-left: 3%; }

.u-mh-- {
  margin-left: 3%;
  margin-right: 3%; }

.u-mv-- {
  margin-bottom: 4px;
  margin-top: 4px; }

.u-p-- {
  padding: 4px 3%; }

.u-pt-- {
  padding-top: 4px; }

.u-pr-- {
  padding-right: 3%; }

.u-pb-- {
  padding-bottom: 4px; }

.u-pl-- {
  padding-left: 3%; }

.u-ph-- {
  padding-left: 3%;
  padding-right: 3%; }

.u-pv-- {
  padding-bottom: 4px;
  padding-top: 4px; }

.u-m- {
  margin: 8px 6%; }

.u-mt- {
  margin-top: 8px; }

.u-mr- {
  margin-right: 6%; }

.u-mb- {
  margin-bottom: 8px; }

.u-ml- {
  margin-left: 6%; }

.u-mh- {
  margin-left: 6%;
  margin-right: 6%; }

.u-mv- {
  margin-bottom: 8px;
  margin-top: 8px; }

.u-p- {
  padding: 8px 6%; }

.u-pt- {
  padding-top: 8px; }

.u-pr- {
  padding-right: 6%; }

.u-pb- {
  padding-bottom: 8px; }

.u-pl- {
  padding-left: 6%; }

.u-ph- {
  padding-left: 6%;
  padding-right: 6%; }

.u-pv- {
  padding-bottom: 8px;
  padding-top: 8px; }

.u-m {
  margin: 16px 9%; }

.u-mt {
  margin-top: 16px; }

.u-mr {
  margin-right: 9%; }

.u-mb {
  margin-bottom: 16px; }

.u-ml {
  margin-left: 9%; }

.u-mh {
  margin-left: 9%;
  margin-right: 9%; }

.u-mv {
  margin-bottom: 16px;
  margin-top: 16px; }

.u-p {
  padding: 16px 9%; }

.u-pt {
  padding-top: 16px; }

.u-pr {
  padding-right: 9%; }

.u-pb {
  padding-bottom: 16px; }

.u-pl {
  padding-left: 9%; }

.u-ph {
  padding-left: 9%;
  padding-right: 9%; }

.u-pv {
  padding-bottom: 16px;
  padding-top: 16px; }

.u-m\+ {
  margin: 32px 12%; }

.u-mt\+ {
  margin-top: 32px; }

.u-mr\+ {
  margin-right: 12%; }

.u-mb\+ {
  margin-bottom: 32px; }

.u-ml\+ {
  margin-left: 12%; }

.u-mh\+ {
  margin-left: 12%;
  margin-right: 12%; }

.u-mv\+ {
  margin-bottom: 32px;
  margin-top: 32px; }

.u-p\+ {
  padding: 32px 12%; }

.u-pt\+ {
  padding-top: 32px; }

.u-pr\+ {
  padding-right: 12%; }

.u-pb\+ {
  padding-bottom: 32px; }

.u-pl\+ {
  padding-left: 12%; }

.u-ph\+ {
  padding-left: 12%;
  padding-right: 12%; }

.u-pv\+ {
  padding-bottom: 32px;
  padding-top: 32px; }

.u-m\+\+ {
  margin: 64px 15%; }

.u-mt\+\+ {
  margin-top: 64px; }

.u-mr\+\+ {
  margin-right: 15%; }

.u-mb\+\+ {
  margin-bottom: 64px; }

.u-ml\+\+ {
  margin-left: 15%; }

.u-mh\+\+ {
  margin-left: 15%;
  margin-right: 15%; }

.u-mv\+\+ {
  margin-bottom: 64px;
  margin-top: 64px; }

.u-p\+\+ {
  padding: 64px 15%; }

.u-pt\+\+ {
  padding-top: 64px; }

.u-pr\+\+ {
  padding-right: 15%; }

.u-pb\+\+ {
  padding-bottom: 64px; }

.u-pl\+\+ {
  padding-left: 15%; }

.u-ph\+\+ {
  padding-left: 15%;
  padding-right: 15%; }

.u-pv\+\+ {
  padding-bottom: 64px;
  padding-top: 64px; }

.u-m\+\+\+ {
  margin: 128px 30%; }

.u-mt\+\+\+ {
  margin-top: 128px; }

.u-mr\+\+\+ {
  margin-right: 30%; }

.u-mb\+\+\+ {
  margin-bottom: 128px; }

.u-ml\+\+\+ {
  margin-left: 30%; }

.u-mh\+\+\+ {
  margin-left: 30%;
  margin-right: 30%; }

.u-mv\+\+\+ {
  margin-bottom: 128px;
  margin-top: 128px; }

.u-p\+\+\+ {
  padding: 128px 30%; }

.u-pt\+\+\+ {
  padding-top: 128px; }

.u-pr\+\+\+ {
  padding-right: 30%; }

.u-pb\+\+\+ {
  padding-bottom: 128px; }

.u-pl\+\+\+ {
  padding-left: 30%; }

.u-ph\+\+\+ {
  padding-left: 30%;
  padding-right: 30%; }

.u-pv\+\+\+ {
  padding-bottom: 128px;
  padding-top: 128px; }

.u-bottom {
  bottom: 0;
  position: absolute; }

.u-center {
  left: 50%;
  transform: translateX(-50%); }
  .u-center--absolute {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%; }

.u-text--center {
  text-align: center; }

.u-d--hidden {
  display: none; }

.u-d--inline-block {
  display: inline-block; }

.u-w--100 {
  width: 100%; }

@keyframes heartbeat {
  from {
    transform: scale(0.98); }
  to {
    transform: scale(1.02); } }

.heartbeat:before {
  box-shadow: 0px 0px 2px 0px #8c28b4;
  border: 1px solid #f55079;
  border-radius: 25px;
  transition: 0.3s ease all;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  animation-duration: 0.8s;
  animation-name: heartbeat;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 25px, 0); }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.fade--in-up {
  animation-duration: 1.2s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp; }

@keyframes fileBorder {
  from {
    stroke-dashoffset: 200%; }
  to {
    stroke-dashoffset: 0; } }

.animation--file-border {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: fileBorder 2s linear forwards; }

@keyframes animation-width {
  from {
    width: 0; }
  to {
    width: 100%; } }

.button {
  background: rgba(255, 255, 255, 0.85);
  border: 0;
  color: #403f40;
  padding: 10px 30px;
  pointer-events: all;
  transition: 0.8s ease padding; }
  .button:hover {
    cursor: pointer;
    padding: 15px 15px; }

.fill--white {
  background-color: #fff; }

.fill--primary {
  background-color: #403f40; }

.section {
  background-color: transparent;
  min-height: calc(100vh - 44px);
  max-width: 100%;
  pointer-events: none;
  width: 100vw; }

.navbar {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  .navbar:after {
    background-color: #8c28b4;
    transition: 2s background-color ease;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-name: animation-width;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    content: '';
    animation-delay: 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    z-index: 2000; }
    .navbar:after.nav--changed {
      background-color: #f55079 !important; }
  .navbar__link {
    color: #5e5e5e;
    font-size: 0.625rem;
    text-decoration: none;
    text-transform: uppercase; }
    .navbar__link:before {
      background: linear-gradient(to right, #8b26b6 0%, #e54a82 67%, #f55079 79%, #f55079 100%);
      content: '';
      cursor: pointer;
      height: 1px;
      left: 0;
      position: absolute;
      bottom: -3px;
      transition: 0.2s ease all;
      width: 0; }
    .navbar__link:hover {
      cursor: pointer; }
      .navbar__link:hover:before {
        width: 100%; }

.particles {
  height: 100vh;
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100vw; }
  .particles div {
    height: 100%;
    width: 100%; }

.hero__heading {
  color: #403f40;
  text-transform: uppercase; }

.hero__section {
  height: 100vh; }

.img--file-border {
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  width: 100vw; }

.list {
  list-style: none;
  padding: 0; }

.cube {
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s ease all;
  height: 225px;
  width: 225px; }
  .cube__side {
    background-color: #403f40;
    border-radius: 3px;
    border: 2px solid #f55079;
    color: #fff;
    position: absolute;
    opacity: 0.9;
    height: 225px;
    width: 225px; }
    .cube__side--left {
      transform: rotateY(-90deg) translateZ(112.5px); }
    .cube__side--right {
      transform: rotateY(90deg) translateZ(112.5px); }
    .cube__side--top {
      transform: rotateX(90deg) translateZ(112.5px); }
    .cube__side--bottom {
      transform: rotateX(-90deg) rotate(180deg) translateZ(112.5px); }
    .cube__side--front {
      transform: translateZ(112.5px); }
    .cube__side--back {
      transform: rotateY(180deg) translateZ(112.5px); }
  @media screen and (min-width: 40em) {
    .cube {
      height: 300px;
      width: 300px; }
      .cube .cube__side {
        height: 300px;
        width: 300px; }
        .cube .cube__side--left {
          transform: rotateY(-90deg) translateZ(150px); }
        .cube .cube__side--right {
          transform: rotateY(90deg) translateZ(150px); }
        .cube .cube__side--top {
          transform: rotateX(90deg) translateZ(150px); }
        .cube .cube__side--bottom {
          transform: rotateX(-90deg) rotate(180deg) translateZ(150px); }
        .cube .cube__side--front {
          transform: translateZ(150px); }
        .cube .cube__side--back {
          transform: rotateY(180deg) translateZ(150px); } }

.logo {
  width: 120px;
  height: 81px; }
  .logo__path {
    stroke: #f55079; }

.showcase__card {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 5px;
  border: 1px solid #403f40;
  margin: 0 auto;
  max-width: 270px;
  overflow: hidden;
  pointer-events: all;
  transition: 0.5s ease all;
  width: 100%; }
  .showcase__card:after {
    background: white;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 1s ease;
    width: 100%; }
  .showcase__card:hover {
    border-color: #f55079;
    cursor: pointer; }
  .showcase__card__image {
    background: white;
    left: 50%;
    position: absolute;
    top: 200%;
    transform: translate(-50%, -50%);
    transition: .6s ease all;
    width: 100%;
    z-index: 1; }
  .showcase__card__list-item {
    font-size: 0.8rem; }
  .showcase__card h3 {
    color: #f55079;
    text-align: center; }
  .showcase__card.active {
    max-width: 100%;
    border-color: #8c28b4; }
    .showcase__card.active:after {
      opacity: 1; }
    .showcase__card.active .showcase__card__image {
      top: 50%; }

.contact__social-icons {
  display: inline-block; }
  .contact__social-icons:hover {
    cursor: pointer; }
    .contact__social-icons:hover .fa {
      color: #f55079; }
  .contact__social-icons a {
    display: inline-block;
    pointer-events: all; }
  .contact__social-icons .fa {
    color: #403f40;
    font-size: 3rem; }

.contact__email {
  color: #403f40;
  display: inline-block;
  font-size: 0.85rem;
  margin-top: 20vh;
  pointer-events: all;
  text-decoration: none;
  text-transform: uppercase; }
  .contact__email:hover {
    color: #f55079; }
